[Library Name and Version]
[Main URL for the library]
Downloaded from [location] on [date]
[Download URL for the library downloaded]

Example:

NUnit 2.5.1.9189
http://www.nunit.org
Downloaded from the NUnit SourceForge site on 7/24/2009:
http://sourceforge.net/projects/nunit/files/